body {
    background-color: #DCB301;
}

header {
    background-color: black;
    width: 100%;
    height: 150px
}

.headerimg1 {
    height:100px;
    width:120px;
    margin-left: 15px;
    margin-top: 25px;
}

.qwra {
    background-color: black;
    color: #DCB301;
    border: 3px solid #DCB301;
    text-decoration: none;
    border-radius: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    margin-top: 100px;
}

.qwra:hover {
    background-image: linear-gradient(red, orange,
    yellow, green, blue, purple);
    color: black;
    border: 3px solid black;
}

.choa {
    background-color: #DCB301;
    color: black;
    border: 3px solid black;
    text-decoration: none;
    border-radius: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    margin-top: 100px;
}

.choa:hover {
    background-color: black;
    color: #DCB301;
    border: 3px solid #DCB301;
}

.sitesa {
    background-color: #DCB301;
    color: black;
    border: 3px solid black;
    text-decoration: none;
    border-radius: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;

} 

.sitesa:hover {
    background-color: black;
    color: #DCB301;
    border: 3px solid #DCB301;
}

.navigation {
    display: inline-block;
    justify-content: right;
    position: relative;
    float:right;
    top: 100px
}

main {
    background-color: #DCB301;
}

.menu a{
    position: absolute;
    left:-110px;
    transition: 0.3s;
    padding:15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color:#DCB301;
    font-family: sans-serif;
    border-radius: 0 5px 5px 0;
}

.menu a:hover {
    left:0;
}

.tablea {
    top: 200px;
    background-color: black;
}
.chaa {
    top: 260px;
    background-color: black;
}
.joestara {
    top: 320px;
    background-color: black;
}

.ph1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.qwrh1 {
    font-size: 15px;
    position: relative;
    left: 125px;
    bottom: 20px;
}

.h21 {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    margin-top: -30px;
}

.imgh1 {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-radius: 60px;
}

.panime {
    text-align: center;
    margin-top: -50px;
    font-family: sans-serif;
}

.h31 {
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border: 3px solid black;
}

td {
    border: 3px solid black;
    text-align: center;
}

.line {
    background-color: black;
    color: #DCB301;
}

.jonatantbl {
    height:100px;
    margin-bottom: -5px;
}

.joseftbl {
    height: 100px;
    margin-bottom: -5px;
}

.jotarotbl {
    height:100px;
    margin-bottom: -5px;
}

.josuketbl {
    height:100px;
    margin-bottom:-5px;
}

.jornotbl {
    height:100px;
    margin-bottom:-5px;
}

.jolintbl {
    height:100px;
    margin-bottom:-5px;
}

.jonnitbl {
    height: 100px;
    margin-bottom:-5px;
}

.josuketbl8 {
    height: 100px;
    margin-bottom:-5px;
}

.h32 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.phantomblood {
    font-family: sans-serif;
    margin-left: 20px;
}

.battletendency {
    font-family: sans-serif;
    margin-left: 20px;
}

.stardustcrusaders {
    font-family: sans-serif;
    margin-left: 20px;
}

.diamondisunbreakable {
    font-family: sans-serif;
    margin-left: 20px;
}

.goldenwind {
    font-family: sans-serif;
    margin-left: 20px;
}

.stoneocean {
    font-family: sans-serif;
    margin-left: 20px;
}

.steelballrun {
    font-family: sans-serif;
    margin-left: 20px;
}

.jojolion {
    font-family: sans-serif;
    margin-left: 20px;
}

.text {
    float:left;
}

h4 {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.inf {
    float: right;
    border: 3px solid black;
    border-radius: 60px;
    padding: 10px;
}

.h33 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.wow {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

.pod {
    height:200px;
    width: 400px;
    border-radius: 60px;
    border: 3px solid black;
} 

.jonatansec {
    float: left;
}

.jonatanside {
    float: right;
}

.jonatanimg {
    width: 180px;
    height: 250px;
    border:3px dashed black;
    border-radius: 60px;
}


